.myOrders {
    margin: 150px 0;
  }
  .myOrder-card {
    border-radius: 15px;
  }
  .my-order-image {
    width: 230px !important;
    height: 130px;
    border-radius: 15px;
  }
  .cancel-order {
    border: none;
    background: red;
    color: white;
    padding: 7px 12px;
    font-size: 18px;
  }
  