.head-styling {
  background: linear-gradient(
    233deg,
    rgb(179, 121, 36) 0%,
    rgb(155, 107, 45) 36%,
    rgb(108, 28, 220) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head2-styling {
  background: rgb(254, 136, 0);
  background: radial-gradient(
    circle,
    rgba(254, 136, 0, 1) 0%,
    rgba(89, 14, 14, 0) 11%
  );
}

.head3-styling {
  background: rgb(209, 118, 118);
  background: radial-gradient(
    circle,
    rgba(209, 118, 118, 1) 9%,
    rgba(115, 103, 190, 0.3533788515406162) 100%,
    rgba(0, 212, 255, 0.5466561624649859) 100%
  );
}
.head4-styling {
  background: rgb(22, 40, 98);
  background: radial-gradient(
    circle,
    rgba(22, 40, 98, 0) 0%,
    rgba(168, 25, 61, 0.8911939775910365) 0%,
    rgba(200, 72, 9, 0.6502976190476191) 54%,
    rgba(0, 0, 0, 0) 100%
  );
}
