.hotel-cards {
  justify-content: center;
}
.hotel-cards-headings {
  text-align: center;
  margin: 100px 0 50px 0;
  font-family: var(--nunito-font);
}
.hotel-cards-headings h2 {
  margin-bottom: 10px;
  font-weight: 700;
}
.hotel-cards-headings p {
  font-size: 20px;
}
