.headers-text{
    font-size: 30px !important;
    font-weight: 400;
    margin-top: -8px;
}
.simple-text{
    color: #52BE80;
}
.menu-text{
    font-size: 20px;
    text-decoration: none;
    color: #606060;
    margin-right: 15px;
}
.menu-text:hover{
    color: #D4AC0D !important;
}