.hotel-card-img{
    height: 300px;
}
.single-hotel-card{
    font-family:var(--montserrat-font);
}
.hotel-name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}