/* poppins and montserrat font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&family=Poppins:wght@400;600;700&display=swap');
/* nunito font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Poppins&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --poppins-font:'Poppins', sans-serif;
  --montserrat-font:'Montserrat', sans-serif;
  --nunito-font:'Nunito', sans-serif;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
